
.layout {
  padding-left: 260px;
  color: #fff;
  min-height: 100vh;
  background-color: #ccc;
}

.sidebar {
  position: fixed !important;
  left: 0;
  top: 0;
  min-height: 100vh;

  .sidebar-inner {
    height: 100vh;
  }
}
